.poster_wrap {
    display: flex;
    justify-content: center;

}
.back_button {
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    display: inline;
    font-size: 14px;
    border: 1px solid;
    margin-top: 20px;
}