.card {
    width: 280px;
    padding: 10px;
    margin: 10px;
    border: 1px solid gray;
}

h4 {
    text-align: center;
    font-size: 18px;
    font-weight: bolder;

    min-height: 55px;
}

.zoom_im  {
    margin-left: auto;
    margin-right: auto;
    transition: transform .5s;
}

.zoom_im:hover {
    transform: scale(1.09);
}

.img_wrapper {
    width: 280px;
    overflow: hidden;
}

.stars_wrapper {
    display: flex;
    justify-content: center;
}