a{
    text-decoration: none;
}
a:visited {
    color: inherit;
}
.dark-mode {
    background-color: #1f1e1e;
    color: #bbbbbb;
    height: 100%;
    transition: background-color 0.25s ease-in-out;
}

.light-mode {
    background-color: #f6f5f5;
    color: #333;
    height: 100%;
    transition: background-color 0.25s ease-in-out;
}
.light-mode button {
    background-color: #f6f5f5;
    color: #333;
}
.light-mode button:hover {
    background-color: #eeeeee;
    color: #000000;
}
.dark-mode button {
    background-color: #1f1e1e;
    color: #bbbbbb;
}
.dark-mode button:hover {
    background-color: #000000;
    color: #eeeeee;
}

.light-mode h4 {
    color: dimgrey;
}

.dark-mode h4 {
    color: beige;
}


